:root {
  --primary: #FEAE00;
  --secondary: #006674;
  --text: #504538;
  --success: #3B9D53;
  --info: #7854e4;
  --warning: #b8c924;
  --danger: #d62518;
  --light: #FFF7E8;
  --dark: #504538;
  --accent: #FEAE00;
}

